body {
  background-color: #eeee;
  font-family: 'Lobster', sans-serif;
}


.jumbotron {
  color: black;
  padding-top: 6rem;
  background-color: #e2edff;
  
}
.jumbotron img, h1, .lead, .somay {
  animation: text-fade 10s linear infinite;
  margin-bottom: 3px;
}
@keyframes text-fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
#Projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
.card {
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.tombol:hover {
  background-color: #FFB6C1;
  transform: scale(1.05);
}
.tombol:active {
  transform: scale(0.95);
  background-color: #E0FFff;
}